{{#d-modal-body title="guest_gate.modal.title" class="guest-gate"}}
  {{#if siteSettings.custom_gate_enabled }}
    <div class="custom-gate">
      <img src="{{ siteSettings.custom_gate_image_url }}"/>
      <h1 style="color:{{ siteSettings.custom_gate_big_text_color }}">
        {{ siteSettings.custom_gate_big_text }}
      </h1>
      <h4>
        <span style="color:{{ siteSettings.custom_gate_little_text_color }}">
          {{ siteSettings.custom_gate_little_text }}
        </span>
      </h4>
    </div>
    <style type="text/css">
      .custom-gate {
        text-align: center;
      }
      .custom-gate img {
        width: 60%;
      }
      .custom-gate h1 {
        margin-top: 4%;
      }
      .custom-gate h4 {
        margin-top: 4%;
        margin-bottom: 4%;
      }
      .modal-footer {
        text-align: center;
        color: {{ siteSettings.custom_gate_link_color }} !important;
      }
      .modal-footer a {
        color: {{ siteSettings.custom_gate_link_color }} !important;
      }
      .modal-inner-container {
        background-color: {{ siteSettings.custom_gate_background_color }} !important;
      }
    </style>
  {{else}}
    <div>
      <p>{{replace-emoji (i18n 'signup_cta.intro')}}</p>
      <p>{{replace-emoji (i18n 'signup_cta.value_prop')}}</p>
    </div>
  {{/if}}
  <style type="text/css">
    .gate .modal-header {
      border-bottom: none;
    }
    .gate .modal-header .close {
      {{#if siteSettings.x_button_disabled }}
      display: none;
      {{else}}
      margin-top: 15px;
      {{/if}}
    }
    .modal .modal-body p {
      font-size: 14px;
    }
    #login-buttons {
      margin-bottom: 0;
      text-align: center;
    }
    .mobile-view #login-buttons {
      width: 100%;
    }
    .mobile-view .btn-social {
      width: 100%;
      margin-top: 3px;
    }
    .modal-footer {
      text-align: center;
      color: #787878;
    }
    .modal-footer a {
      color: #787878;
    }
  </style>
  {{login-buttons externalLogin=(action "externalLogin")}}
{{/d-modal-body}}

